In [1]:
import pandas as pd 
import numpy as np 

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

In [4]:
raw_path = "../data/raw/superstore.csv"

df_raw= pd.read_csv(raw_path)

print('Shape: ', df_raw.shape)
df_raw.head()

Shape:  (51290, 27)

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,Order.Priority,Product.ID,Product.Name,Profit,Quantity,Region,Row.ID,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,36624,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,Medium,OFF-PA-10002893,"Wirebound Service Call Books, 5 1/2"" x 4""",9.2928,2,West,37033,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,Medium,OFF-PA-10000659,"Adams Phone Message Book, Professional, 400 Me...",9.8418,3,West,31468,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,Medium,OFF-PA-10001144,Xerox 1913,53.2608,2,West,31469,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,2011-09-29 00:00:00.000,CA-2011-146969,High,OFF-PA-10002105,Xerox 223,3.1104,1,West,32440,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51290 non-null  object
 1   City            51290 non-null  object
 2   Country         51290 non-null  object
 3   Customer.ID     51290 non-null  object
 4   Customer.Name   51290 non-null  object
 5   Discount        51290 non-null  float64
 6   Market          51290 non-null  object
 7   记录数             51290 non-null  int64
 8   Order.Date      51290 non-null  object
 9   Order.ID        51290 non-null  object
 10  Order.Priority  51290 non-null  object
 11  Product.ID      51290 non-null  object
 12  Product.Name    51290 non-null  object
 13  Profit          51290 non-null  float64
 14  Quantity        51290 non-null  int64
 15  Region          51290 non-null  object
 16  Row.ID          51290 non-null  int64
 17  Sales           51290 non-null  int64
 18  Segment         51290 non-null  object
 19  Ship.Date       51290 non-null  object
 20  Ship.Mode       51290 non-null  object
 21  Shipping.Cost   51290 non-null  float64
 22  State           51290 non-null  object
 23  Sub.Category    51290 non-null  object
 24  Year            51290 non-null  int64
 25  Market2         51290 non-null  object
 26  weeknum         51290 non-null  int64
dtypes: float64(3), int64(6), object(18)
memory usage: 10.6+ MB

In [6]:
df_raw.columns.tolist()

['Category',
 'City',
 'Country',
 'Customer.ID',
 'Customer.Name',
 'Discount',
 'Market',
 '记录数',
 'Order.Date',
 'Order.ID',
 'Order.Priority',
 'Product.ID',
 'Product.Name',
 'Profit',
 'Quantity',
 'Region',
 'Row.ID',
 'Sales',
 'Segment',
 'Ship.Date',
 'Ship.Mode',
 'Shipping.Cost',
 'State',
 'Sub.Category',
 'Year',
 'Market2',
 'weeknum']

In [7]:
for col in df_raw.columns:
    print(col)

Category
City
Country
Customer.ID
Customer.Name
Discount
Market
记录数
Order.Date
Order.ID
Order.Priority
Product.ID
Product.Name
Profit
Quantity
Region
Row.ID
Sales
Segment
Ship.Date
Ship.Mode
Shipping.Cost
State
Sub.Category
Year
Market2
weeknum

In [10]:
df_raw= df_raw.drop(columns=['记录数'],errors='ignore')
df_raw.columns.to_list()

['Category',
 'City',
 'Country',
 'Customer.ID',
 'Customer.Name',
 'Discount',
 'Market',
 'Order.Date',
 'Order.ID',
 'Order.Priority',
 'Product.ID',
 'Product.Name',
 'Profit',
 'Quantity',
 'Region',
 'Row.ID',
 'Sales',
 'Segment',
 'Ship.Date',
 'Ship.Mode',
 'Shipping.Cost',
 'State',
 'Sub.Category',
 'Year',
 'Market2',
 'weeknum']

In [11]:
df_raw.columns = (
    df_raw.columns
        .str.strip()
        .str.lower()
        .str.replace(' ', '_')
        .str.replace('-', '_')
        .str.replace('/', '_')
        .str.replace('.', '_')   # <-- important fix
)

df_raw.columns.tolist()

['category',
 'city',
 'country',
 'customer_id',
 'customer_name',
 'discount',
 'market',
 'order_date',
 'order_id',
 'order_priority',
 'product_id',
 'product_name',
 'profit',
 'quantity',
 'region',
 'row_id',
 'sales',
 'segment',
 'ship_date',
 'ship_mode',
 'shipping_cost',
 'state',
 'sub_category',
 'year',
 'market2',
 'weeknum']

In [12]:
df_raw.duplicated().sum()

np.int64(0)

In [13]:
df_raw.duplicated(subset=['order_id','product_id']).sum()

np.int64(38)

In [14]:
df_clean= (
    df_raw
    .groupby(['order_id', 'product_id'],as_index=False)
    .agg({
        'sales': 'sum',
        'profit': 'sum',
        'quantity': 'sum',
        'discount': 'mean',
        'order_date': 'first',
        'ship_date': 'first',
        'customer_id': 'first',
        'customer_name': 'first',
        'segment': 'first',
        'category': 'first',
        'sub_category': 'first',
        'region': 'first',
        'market': 'first'
    })
)

In [15]:
df_clean.shape
df_clean.duplicated(subset=['order_id','product_id']).sum()

np.int64(0)

In [16]:
date_cols= ['order_date', 'ship_date']

for cols in date_cols:
    df_clean[cols]= pd.to_datetime(df_clean[cols], errors='coerce')

df_clean[date_cols].dtypes

order_date    datetime64[ns]
ship_date     datetime64[ns]
dtype: object

In [18]:
#checking if another columns need hcanged data types 
df_clean.dtypes

order_id                 object
product_id               object
sales                     int64
profit                  float64
quantity                  int64
discount                float64
order_date       datetime64[ns]
ship_date        datetime64[ns]
customer_id              object
customer_name            object
segment                  object
category                 object
sub_category             object
region                   object
market                   object
dtype: object

In [19]:
cat_cols=[
    'segment',
    'category', 
    'sub_category', 
    'region', 
    'market'
]

for col in cat_cols: 
    df_clean[col]= df_clean[col].astype('category')

In [20]:
df_clean[cat_cols].dtypes

segment         category
category        category
sub_category    category
region          category
market          category
dtype: object

In [24]:
print(df_clean.shape)
print(df_clean.isnull().sum().sort_values(ascending=False).head(10))

print("Duplicates (order_id, product_id):", 
      df_clean.duplicated(subset=['order_id','product_id']).sum())

(51252, 15)
order_id         0
product_id       0
sales            0
profit           0
quantity         0
discount         0
order_date       0
ship_date        0
customer_id      0
customer_name    0
dtype: int64
Duplicates (order_id, product_id): 0

In [34]:
df_clean.to_csv("../data/processed/superstore_clean.csv",index=False)

print("Exported")

Exported